﻿body{background: #F9F9F9;font-size: 14px; line-height:26px;margin: 0;padding: 0;color: #333;font-family:"YaHei Consolas Hybrid"}
li a{color: #000}
#head{width:100%; position:fixed; top:0; padding-top:30px; z-index:999;background-color:#F4F5F5;}
#head h1{font-size:42px;color:#0D5995;font-weight:bold;font-family:"黑体";padding:0;margin: 0 0 10px 12%;}
#navigate{height: 32px;background-color: #0D5995;border-bottom: 1px solid #DDD;border-top: 1px solid #DDD;margin: 0 9% 0 9%; padding-left:4%; padding-top:2px;}
#navigate a{font-size: 14px;color: #FFF;margin-left: 30px;margin-right: 25px;line-height: 30px}
#navigate a:hover{text-decoration: underline;color: #CCC}

a{color: #2A466C;text-decoration: none}
a:hover{color: #993300;text-decoration: underline}
#head{height: 50px;}
#main{margin: 0 12% 0 12%;clear: both; margin-top:137px;}

#main h1{font-size: 16px;font-weight: bold;margin-top:5px;border-bottom: 1px solid #DDDDDD;margin-top: 30px}
#main h2{font-size: 24px;font-weight: bold;margin-top:0;border-bottom: 1px solid #DDDDDD;color: #2A466C;}
#main h3{font-size: 12px;font-weight: bold;margin-left: 24px;color: #993300;}
#main h2 a,h3 a{color: #0D5995}
#foot{clear: both;text-align: center;margin-top: 50px;line-height: 30px;width: 100%}

#left{width: 160px; position:fixed; top:133px; z-index:999}
.small{font-size:8px;margin-left:24px;font-weight: normal;}

#right{margin-left: 180px;border-left:1px solid #DDD;padding-left: 24px}
.content{background-color: #FFF;border: 1px dotted #DDDDDD;padding: 10px}
p:first-letter{margin-left:30px;font-size:16px;}
.function{margin-bottom: 24px}
.btn{height:30px;width:100px;margin-left:15px;font-size:14px !important;line-height:30px}
.ipt{height:30px;width:450px;font-size:24px !important;margin-left:24px;line-height:30px}
            