﻿jujiang_about_add


<tr><th>标题</th><td><input type="text" check="need" name="title" maxlength="30" /></td></tr>
<tr><th>简介</th><td><input type="text" check="need" name="summry" maxlength="50" /></td></tr>
<tr><th>内容</th><td><input type="text" check="need" name="content" /></td></tr>

jujiang_about_edit


<tr><th>标题</th><td><input type="text" check="need" name="title" maxlength="30" value="?about.Title?" /></td></tr>
<tr><th>简介</th><td><input type="text" check="need" name="summry" maxlength="50" value="?about.Summry?" /></td></tr>
<tr><th>内容</th><td><input type="text" check="need" name="content" value="about.Content" /></td></tr>
<input type="text" check="need" name="about_id" maxlength="24" value="?about.About_id?" />



jujiang_about_home

?header("jujiang_head")?
<div id="postion"><a href="?site('jabinfo012738')?">桌面</a>学院信息列表</div>
<div class="actions">
<ul>
<li><a href="#" onclick="mywin('?site('jujiang/about/add')?','?site('jujiang/about/add')?','添加学院信息')">添加学院信息</a></li>
</ul>
</div>
<table cellspacing="0" cellpadding="0">
<tfoot><tr><th colspan="4"><script type="text/javascript">pager('?site("jujiang/about/home/{0}")?',?index?,?total?,?size?);</script></th></tr></tfoot>
<tbody>
<tr><th width="20%">编号</th><th width="20%">标题</th><th width="20%">简介</th><th width="20%">内容</th><th width="15%">操作</th>
</tr>
<:foreach collection="?aboutList?" var="about">
<tr>
<td>?about.About_id?</td>
<td>?about.Title?</td>
<td>?about.Summry?</td>
<td>?about.Content?</td>
<td><a href="#" onclick="mywin('?site('jujiang/about/edit/?about.About_id?')?','?site('jujiang/about/edit')?','编辑学院信息')">编辑</a>
 | <a href="#" onclick="del('?site('jujiang/about/remove/?about.About_id?')?')">删除</a></td></tr>
</:foreach>
</tbody>
</table>
?template("base_foot")?