﻿jujiang_acade_add


<tr><th>标题</th><td><input type="text" check="need" name="title" maxlength="30" /></td></tr>
<tr><th>简介</th><td><input type="text" check="need" name="summary" maxlength="100" /></td></tr>
<tr><th>详情</th><td><input type="text" check="need" name="content" /></td></tr>
<tr><th>排序</th><td><input type="text" check="digit" name="index" /></td></tr>

jujiang_acade_edit


<tr><th>标题</th><td><input type="text" check="need" name="title" maxlength="30" value="?acade.Title?" /></td></tr>
<tr><th>简介</th><td><input type="text" check="need" name="summary" maxlength="100" value="?acade.Summary?" /></td></tr>
<tr><th>详情</th><td><input type="text" check="need" name="content" value="acade.Content" /></td></tr>
<tr><th>排序</th><td><input type="text" check="digit" maxlength="6" name="index" value="?acade.Index?" /></td></tr>
<input type="text" check="need" name="acade_id" maxlength="24" value="?acade.Acade_id?" />



jujiang_acade_home

?header("jujiang_head")?
<div id="postion"><a href="?site('jabinfo012738')?">桌面</a>学术研究列表</div>
<div class="actions">
<ul>
<li><a href="#" onclick="mywin('?site('jujiang/acade/add')?','?site('jujiang/acade/add')?','添加学术研究')">添加学术研究</a></li>
</ul>
</div>
<table cellspacing="0" cellpadding="0">
<tfoot><tr><th colspan="5"><script type="text/javascript">pager('?site("jujiang/acade/home/{0}")?',?index?,?total?,?size?);</script></th></tr></tfoot>
<tbody>
<tr><th width="20%">编号</th><th width="20%">标题</th><th width="20%">简介</th><th width="20%">详情</th><th width="20%">排序</th><th width="15%">操作</th>
</tr>
<:foreach collection="?acadeList?" var="acade">
<tr>
<td>?acade.Acade_id?</td>
<td>?acade.Title?</td>
<td>?acade.Summary?</td>
<td>?acade.Content?</td>
<td>?acade.Index?</td>
<td><a href="#" onclick="mywin('?site('jujiang/acade/edit/?acade.Acade_id?')?','?site('jujiang/acade/edit')?','编辑学术研究')">编辑</a>
 | <a href="#" onclick="del('?site('jujiang/acade/remove/?acade.Acade_id?')?')">删除</a></td></tr>
</:foreach>
</tbody>
</table>
?template("base_foot")?