﻿jujiang_actice_add


<tr><th>标题</th><td><input type="text" check="need" name="title" maxlength="30" /></td></tr>
<tr><th>举办单位</th><td><input type="text" check="need" name="unit" maxlength="50" /></td></tr>
<tr><th>相关费用</th><td><input type="text" check="digit" name="price" /></td></tr>
<tr><th>举办时间</th><td><input type="text" check="digit" name="starttime" /></td></tr>
<tr><th>简介</th><td><input type="text" check="need" name="summary" maxlength="100" /></td></tr>
<tr><th>详情</th><td><input type="text" check="need" name="content" /></td></tr>
<tr><th>0.进行中,1.已结束</th><td><input type="text" check="need" name="status" maxlength="1" /></td></tr>

jujiang_actice_edit


<tr><th>标题</th><td><input type="text" check="need" name="title" maxlength="30" value="?actice.Title?" /></td></tr>
<tr><th>举办单位</th><td><input type="text" check="need" name="unit" maxlength="50" value="?actice.Unit?" /></td></tr>
<tr><th>相关费用</th><td><input type="text" check="digit" maxlength="6" name="price" value="?actice.Price?" /></td></tr>
<tr><th>举办时间</th><td><input type="text" check="digit" maxlength="6" name="starttime" value="?actice.Starttime?" /></td></tr>
<tr><th>简介</th><td><input type="text" check="need" name="summary" maxlength="100" value="?actice.Summary?" /></td></tr>
<tr><th>详情</th><td><input type="text" check="need" name="content" value="actice.Content" /></td></tr>
<tr><th>0.进行中,1.已结束</th><td><input type="text" check="need" name="status" maxlength="1" value="?actice.Status?" /></td></tr>
<input type="text" check="need" name="active_id" maxlength="24" value="?actice.Active_id?" />



jujiang_actice_home

?header("jujiang_head")?
<div id="postion"><a href="?site('jabinfo012738')?">桌面</a>活动中心列表</div>
<div class="actions">
<ul>
<li><a href="#" onclick="mywin('?site('jujiang/actice/add')?','?site('jujiang/actice/add')?','添加活动中心')">添加活动中心</a></li>
</ul>
</div>
<table cellspacing="0" cellpadding="0">
<tfoot><tr><th colspan="8"><script type="text/javascript">pager('?site("jujiang/actice/home/{0}")?',?index?,?total?,?size?);</script></th></tr></tfoot>
<tbody>
<tr><th width="20%">编号</th><th width="20%">标题</th><th width="20%">举办单位</th><th width="20%">相关费用</th><th width="20%">举办时间</th><th width="20%">简介</th><th width="20%">详情</th><th width="20%">0.进行中,1.已结束</th><th width="15%">操作</th>
</tr>
<:foreach collection="?acticeList?" var="actice">
<tr>
<td>?actice.Active_id?</td>
<td>?actice.Title?</td>
<td>?actice.Unit?</td>
<td>?actice.Price?</td>
<td>?actice.Starttime?</td>
<td>?actice.Summary?</td>
<td>?actice.Content?</td>
<td>?actice.Status?</td>
<td><a href="#" onclick="mywin('?site('jujiang/actice/edit/?actice.Active_id?')?','?site('jujiang/actice/edit')?','编辑活动中心')">编辑</a>
 | <a href="#" onclick="del('?site('jujiang/actice/remove/?actice.Active_id?')?')">删除</a></td></tr>
</:foreach>
</tbody>
</table>
?template("base_foot")?