﻿jujiang_adv_list_add


<tr><th>姓名</th><td><input type="text" check="need" name="name" maxlength="30" /></td></tr>
<tr><th>电话</th><td><input type="text" check="need" name="mobile" maxlength="30" /></td></tr>
<tr><th>邮箱</th><td><input type="text" check="need" name="email" maxlength="30" /></td></tr>
<tr><th>报名时间</th><td><input type="text" check="digit" name="date" /></td></tr>
<tr><th>招聘编号</th><td><input type="text" check="need" name="advertice_id" maxlength="24" /></td></tr>

jujiang_adv_list_edit


<tr><th>姓名</th><td><input type="text" check="need" name="name" maxlength="30" value="?adv_list.Name?" /></td></tr>
<tr><th>电话</th><td><input type="text" check="need" name="mobile" maxlength="30" value="?adv_list.Mobile?" /></td></tr>
<tr><th>邮箱</th><td><input type="text" check="need" name="email" maxlength="30" value="?adv_list.Email?" /></td></tr>
<tr><th>报名时间</th><td><input type="text" check="digit" maxlength="6" name="date" value="?adv_list.Date?" /></td></tr>
<tr><th>招聘编号</th><td><input type="text" check="need" name="advertice_id" maxlength="24" value="?adv_list.Advertice_id?" /></td></tr>
<input type="text" check="need" name="list_id" maxlength="24" value="?adv_list.List_id?" />



jujiang_adv_list_home

?header("jujiang_head")?
<div id="postion"><a href="?site('jabinfo012738')?">桌面</a>应聘报名列表</div>
<div class="actions">
<ul>
<li><a href="#" onclick="mywin('?site('jujiang/adv_list/add')?','?site('jujiang/adv_list/add')?','添加应聘报名')">添加应聘报名</a></li>
</ul>
</div>
<table cellspacing="0" cellpadding="0">
<tfoot><tr><th colspan="6"><script type="text/javascript">pager('?site("jujiang/adv_list/home/{0}")?',?index?,?total?,?size?);</script></th></tr></tfoot>
<tbody>
<tr><th width="20%">编号</th><th width="20%">姓名</th><th width="20%">电话</th><th width="20%">邮箱</th><th width="20%">报名时间</th><th width="20%">招聘编号</th><th width="15%">操作</th>
</tr>
<:foreach collection="?adv_listList?" var="adv_list">
<tr>
<td>?adv_list.List_id?</td>
<td>?adv_list.Name?</td>
<td>?adv_list.Mobile?</td>
<td>?adv_list.Email?</td>
<td>?adv_list.Date?</td>
<td>?adv_list.Advertice_id?</td>
<td><a href="#" onclick="mywin('?site('jujiang/adv_list/edit/?adv_list.List_id?')?','?site('jujiang/adv_list/edit')?','编辑应聘报名')">编辑</a>
 | <a href="#" onclick="del('?site('jujiang/adv_list/remove/?adv_list.List_id?')?')">删除</a></td></tr>
</:foreach>
</tbody>
</table>
?template("base_foot")?