﻿jujiang_advertise_add


<tr><th>标题</th><td><input type="text" check="need" name="title" maxlength="50" /></td></tr>
<tr><th>岗位名称</th><td><input type="text" check="need" name="job" maxlength="50" /></td></tr>
<tr><th>招聘人数</th><td><input type="text" check="digit" name="people" /></td></tr>
<tr><th>详细信息</th><td><input type="text" check="need" name="detail" maxlength="50" /></td></tr>
<tr><th>1.进行中2.以结束</th><td><input type="text" check="need" name="status" maxlength="1" /></td></tr>
<tr><th>发布如期</th><td><input type="text" check="digit" name="date" /></td></tr>

jujiang_advertise_edit


<tr><th>标题</th><td><input type="text" check="need" name="title" maxlength="50" value="?advertise.Title?" /></td></tr>
<tr><th>岗位名称</th><td><input type="text" check="need" name="job" maxlength="50" value="?advertise.Job?" /></td></tr>
<tr><th>招聘人数</th><td><input type="text" check="digit" maxlength="6" name="people" value="?advertise.People?" /></td></tr>
<tr><th>详细信息</th><td><input type="text" check="need" name="detail" maxlength="50" value="?advertise.Detail?" /></td></tr>
<tr><th>1.进行中2.以结束</th><td><input type="text" check="need" name="status" maxlength="1" value="?advertise.Status?" /></td></tr>
<tr><th>发布如期</th><td><input type="text" check="digit" maxlength="6" name="date" value="?advertise.Date?" /></td></tr>
<input type="text" check="need" name="advertice_id" maxlength="24" value="?advertise.Advertice_id?" />



jujiang_advertise_home

?header("jujiang_head")?
<div id="postion"><a href="?site('jabinfo012738')?">桌面</a>招聘列表</div>
<div class="actions">
<ul>
<li><a href="#" onclick="mywin('?site('jujiang/advertise/add')?','?site('jujiang/advertise/add')?','添加招聘')">添加招聘</a></li>
</ul>
</div>
<table cellspacing="0" cellpadding="0">
<tfoot><tr><th colspan="7"><script type="text/javascript">pager('?site("jujiang/advertise/home/{0}")?',?index?,?total?,?size?);</script></th></tr></tfoot>
<tbody>
<tr><th width="20%">编号</th><th width="20%">标题</th><th width="20%">岗位名称</th><th width="20%">招聘人数</th><th width="20%">详细信息</th><th width="20%">1.进行中2.以结束</th><th width="20%">发布如期</th><th width="15%">操作</th>
</tr>
<:foreach collection="?advertiseList?" var="advertise">
<tr>
<td>?advertise.Advertice_id?</td>
<td>?advertise.Title?</td>
<td>?advertise.Job?</td>
<td>?advertise.People?</td>
<td>?advertise.Detail?</td>
<td>?advertise.Status?</td>
<td>?advertise.Date?</td>
<td><a href="#" onclick="mywin('?site('jujiang/advertise/edit/?advertise.Advertice_id?')?','?site('jujiang/advertise/edit')?','编辑招聘')">编辑</a>
 | <a href="#" onclick="del('?site('jujiang/advertise/remove/?advertise.Advertice_id?')?')">删除</a></td></tr>
</:foreach>
</tbody>
</table>
?template("base_foot")?