﻿jujiang_animation_add


<tr><th>标题</th><td><input type="text" check="need" name="title" maxlength="30" /></td></tr>
<tr><th>链接</th><td><input type="text" check="need" name="url" maxlength="80" /></td></tr>
<tr><th>排序</th><td><input type="text" check="digit" name="index" /></td></tr>

jujiang_animation_edit


<tr><th>标题</th><td><input type="text" check="need" name="title" maxlength="30" value="?animation.Title?" /></td></tr>
<tr><th>链接</th><td><input type="text" check="need" name="url" maxlength="80" value="?animation.Url?" /></td></tr>
<tr><th>排序</th><td><input type="text" check="digit" maxlength="6" name="index" value="?animation.Index?" /></td></tr>
<input type="text" check="need" name="animation_id" maxlength="24" value="?animation.Animation_id?" />



jujiang_animation_home

?header("jujiang_head")?
<div id="postion"><a href="?site('jabinfo012738')?">桌面</a>动画轮播列表</div>
<div class="actions">
<ul>
<li><a href="#" onclick="mywin('?site('jujiang/animation/add')?','?site('jujiang/animation/add')?','添加动画轮播')">添加动画轮播</a></li>
</ul>
</div>
<table cellspacing="0" cellpadding="0">
<tfoot><tr><th colspan="4"><script type="text/javascript">pager('?site("jujiang/animation/home/{0}")?',?index?,?total?,?size?);</script></th></tr></tfoot>
<tbody>
<tr><th width="20%">编号</th><th width="20%">标题</th><th width="20%">链接</th><th width="20%">排序</th><th width="15%">操作</th>
</tr>
<:foreach collection="?animationList?" var="animation">
<tr>
<td>?animation.Animation_id?</td>
<td>?animation.Title?</td>
<td>?animation.Url?</td>
<td>?animation.Index?</td>
<td><a href="#" onclick="mywin('?site('jujiang/animation/edit/?animation.Animation_id?')?','?site('jujiang/animation/edit')?','编辑动画轮播')">编辑</a>
 | <a href="#" onclick="del('?site('jujiang/animation/remove/?animation.Animation_id?')?')">删除</a></td></tr>
</:foreach>
</tbody>
</table>
?template("base_foot")?