﻿jujiang_basic_msg_add


<tr><th>名称</th><td><input type="text" check="need" name="name" maxlength="50" /></td></tr>
<tr><th>电话1</th><td><input type="text" check="need" name="mobile" maxlength="30" /></td></tr>
<tr><th>电话2</th><td><input type="text" check="need" name="moble2" maxlength="30" /></td></tr>
<tr><th>邮箱</th><td><input type="text" check="need" name="email" maxlength="30" /></td></tr>
<tr><th>版权号</th><td><input type="text" check="need" name="copyright" maxlength="50" /></td></tr>

jujiang_basic_msg_edit


<tr><th>名称</th><td><input type="text" check="need" name="name" maxlength="50" value="?basic_msg.Name?" /></td></tr>
<tr><th>电话1</th><td><input type="text" check="need" name="mobile" maxlength="30" value="?basic_msg.Mobile?" /></td></tr>
<tr><th>电话2</th><td><input type="text" check="need" name="moble2" maxlength="30" value="?basic_msg.Moble2?" /></td></tr>
<tr><th>邮箱</th><td><input type="text" check="need" name="email" maxlength="30" value="?basic_msg.Email?" /></td></tr>
<tr><th>版权号</th><td><input type="text" check="need" name="copyright" maxlength="50" value="?basic_msg.Copyright?" /></td></tr>
<input type="text" check="need" name="basic_id" maxlength="24" value="?basic_msg.Basic_id?" />



jujiang_basic_msg_home

$$header("jujiang_head")$$
<div id="postion"><a href="$$site('jabinfo012738')$$">桌面</a>列表</div>
<div class="actions">
<ul>
<li><a href="#" onclick="mywin('$$site('jujiang/basic_msg/add')$$','$$site('jujiang/basic_msg/add')$$','添加')">添加</a></li>
</ul>
</div>
<table cellspacing="0" cellpadding="0">
<tfoot><tr><th colspan="6"><script type="text/javascript">pager('$$site("jujiang/basic_msg/home/{0}")$$',$$index$$,$$total$$,$$size$$);</script></th></tr></tfoot>
<tbody>
<tr><th width="20%">编号</th><th width="20%">名称</th><th width="20%">电话1</th><th width="20%">电话2</th><th width="20%">邮箱</th><th width="20%">版权号</th><th width="15%">操作</th>
</tr>
<jab_foreach collection="$$basic_msgList$$" var="basic_msg">
<tr>
<td>$$basic_msg.Basic_id$$</td>
<td>$$basic_msg.Name$$</td>
<td>$$basic_msg.Mobile$$</td>
<td>$$basic_msg.Moble2$$</td>
<td>$$basic_msg.Email$$</td>
<td>$$basic_msg.Copyright$$</td>
<td><a href="#" onclick="mywin('$$site('jujiang/basic_msg/edit/$$basic_msg.Basic_id$$')$$','$$site('jujiang/basic_msg/edit')$$','编辑')">编辑</a>
 | <a href="#" onclick="del('$$site('jujiang/basic_msg/remove/$$basic_msg.Basic_id$$')$$')">删除</a></td></tr>
</jab_foreach>
</tbody>
</table>
$$template("base_foot")$$