﻿jujiang_consult_add


<tr><th>姓名</th><td><input type="text" check="need" name="name" maxlength="30" /></td></tr>
<tr><th>所在单位</th><td><input type="text" check="need" name="unit" maxlength="50" /></td></tr>

jujiang_consult_edit


<tr><th>姓名</th><td><input type="text" check="need" name="name" maxlength="30" value="?consult.Name?" /></td></tr>
<tr><th>所在单位</th><td><input type="text" check="need" name="unit" maxlength="50" value="?consult.Unit?" /></td></tr>
<input type="text" check="need" name="consult_id" maxlength="24" value="?consult.Consult_id?" />



jujiang_consult_home

?header("jujiang_head")?
<div id="postion"><a href="?site('jabinfo012738')?">桌面</a>顾问名单列表</div>
<div class="actions">
<ul>
<li><a href="#" onclick="mywin('?site('jujiang/consult/add')?','?site('jujiang/consult/add')?','添加顾问名单')">添加顾问名单</a></li>
</ul>
</div>
<table cellspacing="0" cellpadding="0">
<tfoot><tr><th colspan="3"><script type="text/javascript">pager('?site("jujiang/consult/home/{0}")?',?index?,?total?,?size?);</script></th></tr></tfoot>
<tbody>
<tr><th width="20%">编号</th><th width="20%">姓名</th><th width="20%">所在单位</th><th width="15%">操作</th>
</tr>
<:foreach collection="?consultList?" var="consult">
<tr>
<td>?consult.Consult_id?</td>
<td>?consult.Name?</td>
<td>?consult.Unit?</td>
<td><a href="#" onclick="mywin('?site('jujiang/consult/edit/?consult.Consult_id?')?','?site('jujiang/consult/edit')?','编辑顾问名单')">编辑</a>
 | <a href="#" onclick="del('?site('jujiang/consult/remove/?consult.Consult_id?')?')">删除</a></td></tr>
</:foreach>
</tbody>
</table>
?template("base_foot")?