﻿jujiang_culum_add


<tr><th>标题</th><td><input type="text" check="need" name="title" maxlength="30" /></td></tr>
<tr><th>内容</th><td><textarea name="content" check="need" rows="8" cols="26"></textarea></td></tr>
<tr><th>类别1.基础课程2.专业课程3.专业提高</th><td><input type="text" check="need" name="type" maxlength="1" /></td></tr>
<tr><th>排序</th><td><input type="text" check="digit" name="index" /></td></tr>

jujiang_culum_edit


<tr><th>标题</th><td><input type="text" check="need" name="title" maxlength="30" value="?culum.Title?" /></td></tr>
<tr><th>内容</th><td><textarea name="content" check="need" rows="8" cols="26">?culum.Content?</textarea></td></tr>
<tr><th>类别1.基础课程2.专业课程3.专业提高</th><td><input type="text" check="need" name="type" maxlength="1" value="?culum.Type?" /></td></tr>
<tr><th>排序</th><td><input type="text" check="digit" maxlength="6" name="index" value="?culum.Index?" /></td></tr>
<input type="text" check="need" name="Column_id" maxlength="24" value="?culum.Column_id?" />



jujiang_culum_home

?header("jujiang_head")?
<div id="postion"><a href="?site('jabinfo012738')?">桌面</a>课程列表</div>
<div class="actions">
<ul>
<li><a href="#" onclick="mywin('?site('jujiang/culum/add')?','?site('jujiang/culum/add')?','添加课程')">添加课程</a></li>
</ul>
</div>
<table cellspacing="0" cellpadding="0">
<tfoot><tr><th colspan="5"><script type="text/javascript">pager('?site("jujiang/culum/home/{0}")?',?index?,?total?,?size?);</script></th></tr></tfoot>
<tbody>
<tr><th width="20%">编号</th><th width="20%">标题</th><th width="20%">内容</th><th width="20%">类别1.基础课程2.专业课程3.专业提高</th><th width="20%">排序</th><th width="15%">操作</th>
</tr>
<:foreach collection="?culumList?" var="culum">
<tr>
<td>?culum.Column_id?</td>
<td>?culum.Title?</td>
<td>?culum.Content?</td>
<td>?culum.Type?</td>
<td>?culum.Index?</td>
<td><a href="#" onclick="mywin('?site('jujiang/culum/edit/?culum.Column_id?')?','?site('jujiang/culum/edit')?','编辑课程')">编辑</a>
 | <a href="#" onclick="del('?site('jujiang/culum/remove/?culum.Column_id?')?')">删除</a></td></tr>
</:foreach>
</tbody>
</table>
?template("base_foot")?