﻿jujiang_demeanor_add


<tr><th>学员姓名</th><td><input type="text" check="need" name="name" maxlength="30" /></td></tr>
<tr><th>风采语录</th><td><input type="text" check="need" name="saying" maxlength="50" /></td></tr>
<tr><th>个人简介</th><td><textarea name="note" check="need" rows="8" cols="26"></textarea></td></tr>

jujiang_demeanor_edit


<tr><th>学员姓名</th><td><input type="text" check="need" name="name" maxlength="30" value="?demeanor.Name?" /></td></tr>
<tr><th>风采语录</th><td><input type="text" check="need" name="saying" maxlength="50" value="?demeanor.Saying?" /></td></tr>
<tr><th>个人简介</th><td><textarea name="note" check="need" rows="8" cols="26">?demeanor.Note?</textarea></td></tr>
<input type="text" check="need" name="demeanor_id" maxlength="24" value="?demeanor.Demeanor_id?" />



jujiang_demeanor_home

?header("jujiang_head")?
<div id="postion"><a href="?site('jabinfo012738')?">桌面</a>学员风采列表</div>
<div class="actions">
<ul>
<li><a href="#" onclick="mywin('?site('jujiang/demeanor/add')?','?site('jujiang/demeanor/add')?','添加学员风采')">添加学员风采</a></li>
</ul>
</div>
<table cellspacing="0" cellpadding="0">
<tfoot><tr><th colspan="4"><script type="text/javascript">pager('?site("jujiang/demeanor/home/{0}")?',?index?,?total?,?size?);</script></th></tr></tfoot>
<tbody>
<tr><th width="20%">编号</th><th width="20%">学员姓名</th><th width="20%">风采语录</th><th width="20%">个人简介</th><th width="15%">操作</th>
</tr>
<:foreach collection="?demeanorList?" var="demeanor">
<tr>
<td>?demeanor.Demeanor_id?</td>
<td>?demeanor.Name?</td>
<td>?demeanor.Saying?</td>
<td>?demeanor.Note?</td>
<td><a href="#" onclick="mywin('?site('jujiang/demeanor/edit/?demeanor.Demeanor_id?')?','?site('jujiang/demeanor/edit')?','编辑学员风采')">编辑</a>
 | <a href="#" onclick="del('?site('jujiang/demeanor/remove/?demeanor.Demeanor_id?')?')">删除</a></td></tr>
</:foreach>
</tbody>
</table>
?template("base_foot")?