﻿jujiang_director_add


<tr><th>姓名</th><td><input type="text" check="need" name="name" maxlength="30" /></td></tr>
<tr><th>职务</th><td><input type="text" check="need" name="duty" maxlength="50" /></td></tr>
<tr><th>note</th><td><input type="text" check="need" name="content" /></td></tr>
<tr><th>排序</th><td><input type="text" check="digit" name="index" /></td></tr>

jujiang_director_edit


<tr><th>姓名</th><td><input type="text" check="need" name="name" maxlength="30" value="?director.Name?" /></td></tr>
<tr><th>职务</th><td><input type="text" check="need" name="duty" maxlength="50" value="?director.Duty?" /></td></tr>
<tr><th>note</th><td><input type="text" check="need" name="content" value="director.Content" /></td></tr>
<tr><th>排序</th><td><input type="text" check="digit" maxlength="6" name="index" value="?director.Index?" /></td></tr>
<input type="text" check="need" name="director_id" maxlength="24" value="?director.Director_id?" />



jujiang_director_home

?header("jujiang_head")?
<div id="postion"><a href="?site('jabinfo012738')?">桌面</a>理事简介列表</div>
<div class="actions">
<ul>
<li><a href="#" onclick="mywin('?site('jujiang/director/add')?','?site('jujiang/director/add')?','添加理事简介')">添加理事简介</a></li>
</ul>
</div>
<table cellspacing="0" cellpadding="0">
<tfoot><tr><th colspan="5"><script type="text/javascript">pager('?site("jujiang/director/home/{0}")?',?index?,?total?,?size?);</script></th></tr></tfoot>
<tbody>
<tr><th width="20%">编号</th><th width="20%">姓名</th><th width="20%">职务</th><th width="20%">note</th><th width="20%">排序</th><th width="15%">操作</th>
</tr>
<:foreach collection="?directorList?" var="director">
<tr>
<td>?director.Director_id?</td>
<td>?director.Name?</td>
<td>?director.Duty?</td>
<td>?director.Content?</td>
<td>?director.Index?</td>
<td><a href="#" onclick="mywin('?site('jujiang/director/edit/?director.Director_id?')?','?site('jujiang/director/edit')?','编辑理事简介')">编辑</a>
 | <a href="#" onclick="del('?site('jujiang/director/remove/?director.Director_id?')?')">删除</a></td></tr>
</:foreach>
</tbody>
</table>
?template("base_foot")?