﻿jujiang_dist_add


<tr><th>标题</th><td><input type="text" check="need" name="title" maxlength="50" /></td></tr>
<tr><th>内容</th><td><textarea name="content" check="need" rows="8" cols="26"></textarea></td></tr>

jujiang_dist_edit


<tr><th>标题</th><td><input type="text" check="need" name="title" maxlength="50" value="?dist.Title?" /></td></tr>
<tr><th>内容</th><td><textarea name="content" check="need" rows="8" cols="26">?dist.Content?</textarea></td></tr>
<input type="text" check="need" name="dist_id" maxlength="24" value="?dist.Dist_id?" />



jujiang_dist_home

?header("jujiang_head")?
<div id="postion"><a href="?site('jabinfo012738')?">桌面</a>学院特色列表</div>
<div class="actions">
<ul>
<li><a href="#" onclick="mywin('?site('jujiang/dist/add')?','?site('jujiang/dist/add')?','添加学院特色')">添加学院特色</a></li>
</ul>
</div>
<table cellspacing="0" cellpadding="0">
<tfoot><tr><th colspan="3"><script type="text/javascript">pager('?site("jujiang/dist/home/{0}")?',?index?,?total?,?size?);</script></th></tr></tfoot>
<tbody>
<tr><th width="20%">变好</th><th width="20%">标题</th><th width="20%">内容</th><th width="15%">操作</th>
</tr>
<:foreach collection="?distList?" var="dist">
<tr>
<td>?dist.Dist_id?</td>
<td>?dist.Title?</td>
<td>?dist.Content?</td>
<td><a href="#" onclick="mywin('?site('jujiang/dist/edit/?dist.Dist_id?')?','?site('jujiang/dist/edit')?','编辑学院特色')">编辑</a>
 | <a href="#" onclick="del('?site('jujiang/dist/remove/?dist.Dist_id?')?')">删除</a></td></tr>
</:foreach>
</tbody>
</table>
?template("base_foot")?