﻿jujiang_enlist_add


<tr><th>姓名</th><td><input type="text" check="need" name="realname" maxlength="30" /></td></tr>
<tr><th>性别</th><td><input type="text" check="need" name="sex" maxlength="1" /></td></tr>
<tr><th>出生日期</th><td><input type="text" check="digit" name="birthday" /></td></tr>
<tr><th>年龄</th><td><input type="text" check="digit" name="age" /></td></tr>
<tr><th>户口所在地</th><td><input type="text" check="need" name="address" maxlength="100" /></td></tr>
<tr><th>其他选项</th><td><input type="text" check="need" name="other" /></td></tr>
<tr><th>教育背景</th><td><input type="text" check="need" name="edu" /></td></tr>
<tr><th>专业课程</th><td><input type="text" check="need" name="spec" /></td></tr>
<tr><th>个人能力</th><td><input type="text" check="need" name="ability" /></td></tr>
<tr><th>工作经历</th><td><input type="text" check="need" name="exper" /></td></tr>
<tr><th>语言能力</th><td><input type="text" check="need" name="language" /></td></tr>
<tr><th>自我评介</th><td><input type="text" check="need" name="apprai" /></td></tr>
<tr><th>证书与奖励</th><td><input type="text" check="need" name="reward" /></td></tr>

jujiang_enlist_editƒ


<tr><th>姓名</th><td><input type="text" check="need" name="realname" maxlength="30" value="?enlist.Realname?" /></td></tr>
<tr><th>性别</th><td><input type="text" check="need" name="sex" maxlength="1" value="?enlist.Sex?" /></td></tr>
<tr><th>出生日期</th><td><input type="text" check="digit" maxlength="6" name="birthday" value="?enlist.Birthday?" /></td></tr>
<tr><th>年龄</th><td><input type="text" check="digit" maxlength="6" name="age" value="?enlist.Age?" /></td></tr>
<tr><th>户口所在地</th><td><input type="text" check="need" name="address" maxlength="100" value="?enlist.Address?" /></td></tr>
<tr><th>其他选项</th><td><input type="text" check="need" name="other" value="enlist.Other" /></td></tr>
<tr><th>教育背景</th><td><input type="text" check="need" name="edu" value="enlist.Edu" /></td></tr>
<tr><th>专业课程</th><td><input type="text" check="need" name="spec" value="enlist.Spec" /></td></tr>
<tr><th>个人能力</th><td><input type="text" check="need" name="ability" value="enlist.Ability" /></td></tr>
<tr><th>工作经历</th><td><input type="text" check="need" name="exper" value="enlist.Exper" /></td></tr>
<tr><th>语言能力</th><td><input type="text" check="need" name="language" value="enlist.Language" /></td></tr>
<tr><th>自我评介</th><td><input type="text" check="need" name="apprai" value="enlist.Apprai" /></td></tr>
<tr><th>证书与奖励</th><td><input type="text" check="need" name="reward" value="enlist.Reward" /></td></tr>
<input type="text" check="need" name="list_id" maxlength="24" value="?enlist.List_id?" />



jujiang_enlist_home

?header("jujiang_head")?
<div id="postion"><a href="?site('jabinfo012738')?">桌面</a>入学报名列表</div>
<div class="actions">
<ul>
<li><a href="#" onclick="mywin('?site('jujiang/enlist/add')?','?site('jujiang/enlist/add')?','添加入学报名')">添加入学报名</a></li>
</ul>
</div>
<table cellspacing="0" cellpadding="0">
<tfoot><tr><th colspan="14"><script type="text/javascript">pager('?site("jujiang/enlist/home/{0}")?',?index?,?total?,?size?);</script></th></tr></tfoot>
<tbody>
<tr><th width="20%">编号</th><th width="20%">姓名</th><th width="20%">性别</th><th width="20%">出生日期</th><th width="20%">年龄</th><th width="20%">户口所在地</th><th width="20%">其他选项</th><th width="20%">教育背景</th><th width="20%">专业课程</th><th width="20%">个人能力</th><th width="20%">工作经历</th><th width="20%">语言能力</th><th width="20%">自我评介</th><th width="20%">证书与奖励</th><th width="15%">操作</th>
</tr>
<:foreach collection="?enlistList?" var="enlist">
<tr>
<td>?enlist.List_id?</td>
<td>?enlist.Realname?</td>
<td>?enlist.Sex?</td>
<td>?enlist.Birthday?</td>
<td>?enlist.Age?</td>
<td>?enlist.Address?</td>
<td>?enlist.Other?</td>
<td>?enlist.Edu?</td>
<td>?enlist.Spec?</td>
<td>?enlist.Ability?</td>
<td>?enlist.Exper?</td>
<td>?enlist.Language?</td>
<td>?enlist.Apprai?</td>
<td>?enlist.Reward?</td>
<td><a href="#" onclick="mywin('?site('jujiang/enlist/edit/?enlist.List_id?')?','?site('jujiang/enlist/edit')?','编辑入学报名')">编辑</a>
 | <a href="#" onclick="del('?site('jujiang/enlist/remove/?enlist.List_id?')?')">删除</a></td></tr>
</:foreach>
</tbody>
</table>
?template("base_foot")?