﻿jujiang_item_add


<tr><th>标题</th><td><input type="text" check="need" name="title" maxlength="30" /></td></tr>
<tr><th>内容</th><td><input type="text" check="need" name="content" /></td></tr>
<tr><th>排序</th><td><input type="text" check="digit" name="index" /></td></tr>

jujiang_item_edit


<tr><th>标题</th><td><input type="text" check="need" name="title" maxlength="30" value="?item.Title?" /></td></tr>
<tr><th>内容</th><td><input type="text" check="need" name="content" value="item.Content" /></td></tr>
<tr><th>排序</th><td><input type="text" check="digit" maxlength="6" name="index" value="?item.Index?" /></td></tr>
<input type="text" check="need" name="item_id" maxlength="24" value="?item.Item_id?" />



jujiang_item_home

?header("jujiang_head")?
<div id="postion"><a href="?site('jabinfo012738')?">桌面</a>学院特色列表</div>
<div class="actions">
<ul>
<li><a href="#" onclick="mywin('?site('jujiang/item/add')?','?site('jujiang/item/add')?','添加学院特色')">添加学院特色</a></li>
</ul>
</div>
<table cellspacing="0" cellpadding="0">
<tfoot><tr><th colspan="4"><script type="text/javascript">pager('?site("jujiang/item/home/{0}")?',?index?,?total?,?size?);</script></th></tr></tfoot>
<tbody>
<tr><th width="20%">编号</th><th width="20%">标题</th><th width="20%">内容</th><th width="20%">排序</th><th width="15%">操作</th>
</tr>
<:foreach collection="?itemList?" var="item">
<tr>
<td>?item.Item_id?</td>
<td>?item.Title?</td>
<td>?item.Content?</td>
<td>?item.Index?</td>
<td><a href="#" onclick="mywin('?site('jujiang/item/edit/?item.Item_id?')?','?site('jujiang/item/edit')?','编辑学院特色')">编辑</a>
 | <a href="#" onclick="del('?site('jujiang/item/remove/?item.Item_id?')?')">删除</a></td></tr>
</:foreach>
</tbody>
</table>
?template("base_foot")?