﻿jujiang_links_add


<tr><th>标题</th><td><input type="text" check="need" name="title" maxlength="30" /></td></tr>
<tr><th>链接地址</th><td><input type="text" check="need" name="url" maxlength="100" /></td></tr>
<tr><th>排序</th><td><input type="text" check="digit" name="index" /></td></tr>

jujiang_links_edit


<tr><th>标题</th><td><input type="text" check="need" name="title" maxlength="30" value="?links.Title?" /></td></tr>
<tr><th>链接地址</th><td><input type="text" check="need" name="url" maxlength="100" value="?links.Url?" /></td></tr>
<tr><th>排序</th><td><input type="text" check="digit" maxlength="6" name="index" value="?links.Index?" /></td></tr>
<input type="text" check="need" name="links_id" maxlength="24" value="?links.Links_id?" />



jujiang_links_home

?header("jujiang_head")?
<div id="postion"><a href="?site('jabinfo012738')?">桌面</a>友情链接列表</div>
<div class="actions">
<ul>
<li><a href="#" onclick="mywin('?site('jujiang/links/add')?','?site('jujiang/links/add')?','添加友情链接')">添加友情链接</a></li>
</ul>
</div>
<table cellspacing="0" cellpadding="0">
<tfoot><tr><th colspan="4"><script type="text/javascript">pager('?site("jujiang/links/home/{0}")?',?index?,?total?,?size?);</script></th></tr></tfoot>
<tbody>
<tr><th width="20%">编号</th><th width="20%">标题</th><th width="20%">链接地址</th><th width="20%">排序</th><th width="15%">操作</th>
</tr>
<:foreach collection="?linksList?" var="links">
<tr>
<td>?links.Links_id?</td>
<td>?links.Title?</td>
<td>?links.Url?</td>
<td>?links.Index?</td>
<td><a href="#" onclick="mywin('?site('jujiang/links/edit/?links.Links_id?')?','?site('jujiang/links/edit')?','编辑友情链接')">编辑</a>
 | <a href="#" onclick="del('?site('jujiang/links/remove/?links.Links_id?')?')">删除</a></td></tr>
</:foreach>
</tbody>
</table>
?template("base_foot")?