﻿jujiang_orgin_add


<tr><th>名称</th><td><input type="text" check="need" name="title" maxlength="50" /></td></tr>
<tr><th>简介</th><td><textarea name="content" check="need" rows="8" cols="26"></textarea></td></tr>

jujiang_orgin_edit


<tr><th>名称</th><td><input type="text" check="need" name="title" maxlength="50" value="?orgin.Title?" /></td></tr>
<tr><th>简介</th><td><textarea name="content" check="need" rows="8" cols="26">?orgin.Content?</textarea></td></tr>
<input type="text" check="need" name="orgin_id" maxlength="24" value="?orgin.Orgin_id?" />



jujiang_orgin_home

?header("jujiang_head")?
<div id="postion"><a href="?site('jabinfo012738')?">桌面</a>组织机构列表</div>
<div class="actions">
<ul>
<li><a href="#" onclick="mywin('?site('jujiang/orgin/add')?','?site('jujiang/orgin/add')?','添加组织机构')">添加组织机构</a></li>
</ul>
</div>
<table cellspacing="0" cellpadding="0">
<tfoot><tr><th colspan="3"><script type="text/javascript">pager('?site("jujiang/orgin/home/{0}")?',?index?,?total?,?size?);</script></th></tr></tfoot>
<tbody>
<tr><th width="20%">编号</th><th width="20%">名称</th><th width="20%">简介</th><th width="15%">操作</th>
</tr>
<jab_foreach collection="?orginList?" var="orgin">
<tr>
<td>?orgin.Orgin_id?</td>
<td>?orgin.Title?</td>
<td>?orgin.Content?</td>
<td><a href="#" onclick="mywin('?site('jujiang/orgin/edit/?orgin.Orgin_id?')?','?site('jujiang/orgin/edit')?','编辑组织机构')">编辑</a>
 | <a href="#" onclick="del('?site('jujiang/orgin/remove/?orgin.Orgin_id?')?')">删除</a></td></tr>
</jab_foreach>
</tbody>
</table>
?template("base_foot")?