﻿jujiang_reg_add


<tr><th>姓名</th><td><input type="text" check="need" name="name" maxlength="30" /></td></tr>
<tr><th>职务</th><td><input type="text" check="need" name="unit" maxlength="50" /></td></tr>
<tr><th>电话</th><td><input type="text" check="need" name="mobile" maxlength="20" /></td></tr>
<tr><th>邮箱</th><td><input type="text" check="need" name="email" maxlength="20" /></td></tr>
<tr><th>报名时间</th><td><input type="text" check="digit" name="date" /></td></tr>
<tr><th>活动编号</th><td><input type="text" check="need" name="actice_id" maxlength="24" /></td></tr>

jujiang_reg_edit


<tr><th>姓名</th><td><input type="text" check="need" name="name" maxlength="30" value="?reg.Name?" /></td></tr>
<tr><th>职务</th><td><input type="text" check="need" name="unit" maxlength="50" value="?reg.Unit?" /></td></tr>
<tr><th>电话</th><td><input type="text" check="need" name="mobile" maxlength="20" value="?reg.Mobile?" /></td></tr>
<tr><th>邮箱</th><td><input type="text" check="need" name="email" maxlength="20" value="?reg.Email?" /></td></tr>
<tr><th>报名时间</th><td><input type="text" check="digit" maxlength="6" name="date" value="?reg.Date?" /></td></tr>
<tr><th>活动编号</th><td><input type="text" check="need" name="actice_id" maxlength="24" value="?reg.Actice_id?" /></td></tr>
<input type="text" check="need" name="reg_id" maxlength="24" value="?reg.Reg_id?" />



jujiang_reg_home

?header("jujiang_head")?
<div id="postion"><a href="?site('jabinfo012738')?">桌面</a>活动报名列表</div>
<div class="actions">
<ul>
<li><a href="#" onclick="mywin('?site('jujiang/reg/add')?','?site('jujiang/reg/add')?','添加活动报名')">添加活动报名</a></li>
</ul>
</div>
<table cellspacing="0" cellpadding="0">
<tfoot><tr><th colspan="7"><script type="text/javascript">pager('?site("jujiang/reg/home/{0}")?',?index?,?total?,?size?);</script></th></tr></tfoot>
<tbody>
<tr><th width="20%">编号</th><th width="20%">姓名</th><th width="20%">职务</th><th width="20%">电话</th><th width="20%">邮箱</th><th width="20%">报名时间</th><th width="20%">活动编号</th><th width="15%">操作</th>
</tr>
<jab_foreach collection="?regList?" var="reg">
<tr>
<td>?reg.Reg_id?</td>
<td>?reg.Name?</td>
<td>?reg.Unit?</td>
<td>?reg.Mobile?</td>
<td>?reg.Email?</td>
<td>?reg.Date?</td>
<td>?reg.Actice_id?</td>
<td><a href="#" onclick="mywin('?site('jujiang/reg/edit/?reg.Reg_id?')?','?site('jujiang/reg/edit')?','编辑活动报名')">编辑</a>
 | <a href="#" onclick="del('?site('jujiang/reg/remove/?reg.Reg_id?')?')">删除</a></td></tr>
</jab_foreach>
</tbody>
</table>
?template("base_foot")?