﻿jujiang_research_add


<tr><th>标题</th><td><input type="text" check="need" name="title" maxlength="30" /></td></tr>
<tr><th>详情</th><td><input type="text" check="need" name="content" /></td></tr>
<tr><th>发布时间</th><td><input type="text" check="digit" name="date" /></td></tr>

jujiang_research_edit


<tr><th>标题</th><td><input type="text" check="need" name="title" maxlength="30" value="?research.Title?" /></td></tr>
<tr><th>详情</th><td><input type="text" check="need" name="content" value="research.Content" /></td></tr>
<tr><th>发布时间</th><td><input type="text" check="digit" maxlength="6" name="date" value="?research.Date?" /></td></tr>
<input type="text" check="need" name="research_id" maxlength="24" value="?research.Research_id?" />



jujiang_research_home

?header("jujiang_head")?
<div id="postion"><a href="?site('jabinfo012738')?">桌面</a>学术研究列表</div>
<div class="actions">
<ul>
<li><a href="#" onclick="mywin('?site('jujiang/research/add')?','?site('jujiang/research/add')?','添加学术研究')">添加学术研究</a></li>
</ul>
</div>
<table cellspacing="0" cellpadding="0">
<tfoot><tr><th colspan="4"><script type="text/javascript">pager('?site("jujiang/research/home/{0}")?',?index?,?total?,?size?);</script></th></tr></tfoot>
<tbody>
<tr><th width="20%">编号</th><th width="20%">标题</th><th width="20%">详情</th><th width="20%">发布时间</th><th width="15%">操作</th>
</tr>
<:foreach collection="?researchList?" var="research">
<tr>
<td>?research.Research_id?</td>
<td>?research.Title?</td>
<td>?research.Content?</td>
<td>?research.Date?</td>
<td><a href="#" onclick="mywin('?site('jujiang/research/edit/?research.Research_id?')?','?site('jujiang/research/edit')?','编辑学术研究')">编辑</a>
 | <a href="#" onclick="del('?site('jujiang/research/remove/?research.Research_id?')?')">删除</a></td></tr>
</:foreach>
</tbody>
</table>
?template("base_foot")?