﻿jujiang_teacher_add


<tr><th>姓名</th><td><input type="text" check="need" name="name" maxlength="30" /></td></tr>
<tr><th>职位</th><td><input type="text" check="need" name="position" maxlength="50" /></td></tr>
<tr><th>精英团队</th><td><input type="text" check="need" name="team_id" maxlength="24" /></td></tr>
<tr><th>详情</th><td><input type="text" check="need" name="content" /></td></tr>
<tr><th>类型</th><td><input type="text" check="need" name="type" maxlength="1" /></td></tr>

jujiang_teacher_edit


<tr><th>姓名</th><td><input type="text" check="need" name="name" maxlength="30" value="?teacher.Name?" /></td></tr>
<tr><th>职位</th><td><input type="text" check="need" name="position" maxlength="50" value="?teacher.Position?" /></td></tr>
<tr><th>精英团队</th><td><input type="text" check="need" name="team_id" maxlength="24" value="?teacher.Team_id?" /></td></tr>
<tr><th>详情</th><td><input type="text" check="need" name="content" value="teacher.Content" /></td></tr>
<tr><th>类型</th><td><input type="text" check="need" name="type" maxlength="1" value="?teacher.Type?" /></td></tr>
<input type="text" check="need" name="teacher_id" maxlength="24" value="?teacher.Teacher_id?" />



jujiang_teacher_home

?header("jujiang_head")?
<div id="postion"><a href="?site('jabinfo012738')?">桌面</a>师资团队列表</div>
<div class="actions">
<ul>
<li><a href="#" onclick="mywin('?site('jujiang/teacher/add')?','?site('jujiang/teacher/add')?','添加师资团队')">添加师资团队</a></li>
</ul>
</div>
<table cellspacing="0" cellpadding="0">
<tfoot><tr><th colspan="6"><script type="text/javascript">pager('?site("jujiang/teacher/home/{0}")?',?index?,?total?,?size?);</script></th></tr></tfoot>
<tbody>
<tr><th width="20%">编号</th><th width="20%">姓名</th><th width="20%">职位</th><th width="20%">精英团队</th><th width="20%">详情</th><th width="20%">类型</th><th width="15%">操作</th>
</tr>
<:foreach collection="?teacherList?" var="teacher">
<tr>
<td>?teacher.Teacher_id?</td>
<td>?teacher.Name?</td>
<td>?teacher.Position?</td>
<td>?teacher.Team_id?</td>
<td>?teacher.Content?</td>
<td>?teacher.Type?</td>
<td><a href="#" onclick="mywin('?site('jujiang/teacher/edit/?teacher.Teacher_id?')?','?site('jujiang/teacher/edit')?','编辑师资团队')">编辑</a>
 | <a href="#" onclick="del('?site('jujiang/teacher/remove/?teacher.Teacher_id?')?')">删除</a></td></tr>
</:foreach>
</tbody>
</table>
?template("base_foot")?