﻿jujiang_team_add


<tr><th>名称</th><td><input type="text" check="need" name="title" maxlength="30" /></td></tr>
<tr><th>详情</th><td><input type="text" check="need" name="detail" /></td></tr>

jujiang_team_edit


<tr><th>名称</th><td><input type="text" check="need" name="title" maxlength="30" value="?team.Title?" /></td></tr>
<tr><th>详情</th><td><input type="text" check="need" name="detail" value="team.Detail" /></td></tr>
<input type="text" check="need" name="team_id" maxlength="24" value="?team.Team_id?" />



jujiang_team_home

?header("jujiang_head")?
<div id="postion"><a href="?site('jabinfo012738')?">桌面</a>精英团队列表</div>
<div class="actions">
<ul>
<li><a href="#" onclick="mywin('?site('jujiang/team/add')?','?site('jujiang/team/add')?','添加精英团队')">添加精英团队</a></li>
</ul>
</div>
<table cellspacing="0" cellpadding="0">
<tfoot><tr><th colspan="3"><script type="text/javascript">pager('?site("jujiang/team/home/{0}")?',?index?,?total?,?size?);</script></th></tr></tfoot>
<tbody>
<tr><th width="20%">编号</th><th width="20%">名称</th><th width="20%">详情</th><th width="15%">操作</th>
</tr>
<:foreach collection="?teamList?" var="team">
<tr>
<td>?team.Team_id?</td>
<td>?team.Title?</td>
<td>?team.Detail?</td>
<td><a href="#" onclick="mywin('?site('jujiang/team/edit/?team.Team_id?')?','?site('jujiang/team/edit')?','编辑精英团队')">编辑</a>
 | <a href="#" onclick="del('?site('jujiang/team/remove/?team.Team_id?')?')">删除</a></td></tr>
</:foreach>
</tbody>
</table>
?template("base_foot")?